/* General styles */
body, html {
    background-color: #bfbfce;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}
/* Navbar styles */
nav ul {
    display: flex;
    list-style: none;
    border-radius: 2rem;
    flex-wrap: wrap;
    text-align: center;
}

nav ul li {
    padding: 2%;
    border-radius: 2rem;
    border-style: dotted;
    border-color: rgb(233, 237, 241);
    background-color: #222021;
    margin: 0.5rem;
    display: inline-block;
}

nav ul li a {
    color: whitesmoke;
    text-decoration: none;
    margin: 2rem 2rem 2rem 2rem;
}

nav ul li a:hover {
    padding: 1%;
    background-color: darkgreen;
}

/* Profile section */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#profile {
    background-color: #9084d1;
    color: whitesmoke;
    padding: 20px;
    border-radius: 5px;
    margin: 1rem;
    text-align: center;
}

#profile img {
    width: 300px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #11e9359c;
}

#career_obj {
    background-color: darkslategray;
    color: whitesmoke;
    padding: 20px;
    border-radius: 5px;
    margin: 1rem;
}

.container_1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#skills, #education, #language {
    background-color: #9084d1;
    color: whitesmoke;
    padding: 20px;
    border-radius: 5px;
    margin: 1rem;
    text-align: center;
}

#education {
    background-color: darkslategray;
}

#language {
    background-color: blueviolet;
}

/* Responsive Styles */
@media screen and (max-width: 1200px) {
    nav ul {
        margin: 1rem 2rem 0rem 0rem;
        justify-content: center;
    }

    #profile img {
        width: 250px;
    }
}

@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .container_1 {
        flex-direction: column;
    }

    #profile img {
        width: 200px;
    }
}

@media screen and (max-width: 480px) {
    nav ul {
        margin: 1rem 0;
        flex-direction: column;
        align-items: center;
    }

    #profile img {
        width: 150px;
    }
}
