body,html{
    margin: 0;
    padding:0;
    height:100;
}

.container{
    display: flex;
}

#profile {
    background-color: #9084d1;
    color:whitesmoke;
    padding: 20px;
    border-radius: 5px;
}
#profile img {
    width: 300px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #11e9359c;
}
#career_obj {
    background-color: darkslategray;
    color:whitesmoke;
    padding: 20px;
    border-radius: 5px;
}